@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2f4157;
  --secondary: #c7d9e5;
  --teal: #577c8e;
}

/* NOTE: Will be developed later on for dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #2f4157;
    --secondary: #c7d9e5;
  }
} */

@layer base {
  body {
    @apply bg-background font-sans text-foreground;
  }
}

.clip-path-trapezoid {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: linear-gradient(90deg, #2f4157 0%, rgba(199, 217, 229, 0.2) 100%);
}

.clip-path-triangle {
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
